@font-face {
  font-family:'Young Serif' ;
  src: url(/recipe-page-main/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(30, 54%, 90%);
}
